<%- include("partials/head.ejs")   %>
<%- include("partials/header.ejs") %>
<body>
    <h2 class='subtitle'>Contact</h2>
    <main>
        <%- include("partials/photos.ejs") %>
        <section class="seccionContact">
            <div class="contenedorContact">
                <div class="imageContact"></div>
                <div class="textContact">
                    <p>Please email us at</p> <a href="mailto:mdhl@chihockey.org">mdhl@chihockey.org</a>
                    <p>We will reply to your emailas soon as we can.</p>
                </div>
            </div>
        </section>
    </main> 
    <%- include("partials/footer.ejs") %>

</body>

</html>