<%- include("partials/head.ejs")   %>
<%- include("partials/header.ejs") %>
<body>
    <h2 class='subtitle'>Game Information</h2>
    <main> 
        <%- include("partials/photos.ejs") %>
        <div class='contenedorPrincipalGame'>
        <section class="seccion-game">
    <div class="contenedor-game">
                <div class="parrafoGame">
                    <h3>Fall Schedule</h3>
                    <p>* All games take place on Saturday.</p>

                    <h3>Fall Schedule</h3>
                    <table>
                        <caption>* All games take place on Saturday.</caption>
                        <thead>
                            <tr>
                                <th>SEPTEMBER</th>
                                <th>Teams</th>
                                <th>Location</th>
                                <th>Times</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">9/01</td>
                                <td>U1 and U4</td>
                                <td>AJ Katzenmaier</td>
                                <td>1:00 p.m</td>
                            </tr>
                            <tr>
                                <td>U3 and U2</td>
                                <td>Greenbay</td>
                                <td>9:30 a.m.</td>
                            </tr>
                            <tr>
                                <td rowspan="2">9/08</td>
                                <td>U5 and U6</td>
                                <td>Howard A Yeager</td>
                                <td>9:30 a.m.</td>
                            </tr>
                            <tr>
                                <td>U6 and U1</td>
                                <td>Marjorie P Hart</td>
                                <td>1:00 p.m.</td>
                            </tr>
                            <tr>
                                <td rowspan="2">9/15</td>
                                <td>U2 and U4</td>
                                <td>North</td>
                                <td>9:30 a.m</td>
                            </tr>
                            <tr>
                                <td>U3 and U5</td>
                                <td>AJ Katzenmaier</td>
                                <td>1:00 p.m.</td>
                            </tr>
                            <tr>
                                <td rowspan="2">9/22</td>
                                <td>U1 and U3</td>
                                <td>South</td>
                                <td>9:30 a.m</td>
                            </tr>
                            <tr>
                                <td>U2 and U6</td>
                                <td>Howard A Yeager</td>
                                <td>1:00 p.m</td>

                            </tr>
                        <tfoot>
                            <tr>
                                <td>9/29</td>
                                <td>U4 and U5</td>
                                <td>Greenbay</td>
                                <td>9:30 a.m</td>
                            </tr>
                        </tfoot>
                        </tbody>
                    </table>
                    <p><span>Facility Type:</span> Outdoor</p>

                    <div>
                        <p><span>Additional Information:</span> If deemed necessary by MDHL games may be shortened or
                            cancelled due to extreme weather conditions.</p>
                        <p><span> direct all questions to: </span>Michael Randall, League Coordinator</p>
                        <p><span>Phone:</span> (630) 690-8132 Email: michael.randall@chihockey.org</p>
                        <p>Mind Hub</p>
                    </div>
                </div>
        
        </section>
        <section class="mapas">
            <h3>Maps</h3>
            <div>
                <button><a href="https://www.google.com/maps/place/AJ+Katzenmaier+Academy/@42.325868,-87.862801,12z/data=!4m5!3m4!1s0x0:0xcf2bbe275c6da815!8m2!3d42.3258681!4d-87.8628015?hl=es" target="_blank">Katzenmaier</a></button>
            </div>
            <div>
                <button><a href="https://www.google.com/maps/place/Green+Bay+School+(Pre-K)/@42.320964,-87.868864,12z/data=!4m5!3m4!1s0x0:0x740a7a7d548adce1!8m2!3d42.3208629!4d-87.8688658?hl=es" target="_blank">Greenbay</a></button>
            </div>
            <div>
                <button><a href="https://www.google.com/maps?ll=41.929623,-87.645973&z=14&t=m&hl=es&gl=AR&mapclient=embed&cid=15852491871625214517" target="_blank">Howard A Yeager</a></button>
            </div>
            <div>
                <button><a href="https://www.google.com/maps?ll=41.929623,-87.645973&z=14&t=m&hl=es&gl=AR&mapclient=embed&cid=15852491871625214517" target="_blank">Marjorie P Hart</a></button>
            </div>
            <div>
                <button><a href="https://www.google.com/maps?ll=42.328409,-87.852925&z=14&t=m&hl=es&gl=AR&mapclient=embed&cid=6121080785135458134" target="_blank">North</a></button>
            </div>
            <div>
                <button><a href="https://www.google.com/maps?ll=42.317067,-87.854593&z=14&t=m&hl=es&gl=AR&mapclient=embed&cid=10153522112144064193" target="_blank">South</a></button>
            </div>

        </section>
    </div>

    </main>
    <%- include("partials/footer.ejs") %>
</body>

</html>