<%- include("partials/head.ejs")   %>
<%- include("partials/header.ejs") %>
<body>
  
    <h2 class='subtitle'>Upcoming Events</h2>
    <main>
        <%- include("partials/photos.ejs") %>
        <section class="seccion2">
            <div class="contenedor1">
                <div class="imagen"></div>

                <div class="parrafo">
                    <h3>August 4</h3>
                    <p>MDHL Fundraiser</p>

                    <h3>August 16</h3>
                    <p>Season Kick-off: Meet the Teams</p>


                    <h3>September 1</h3>
                    <p>First Game of the Season (Chech Game Schedule for details)</p>

                </div>
            </div>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>
</body>

</html>