<%- include("partials/head.ejs")   %>
<%- include("partials/header.ejs") %>
<div class='noAutorizado' style="background-image: url('https://i.postimg.cc/7PC07YL6/Adobe-Stock-322604111.jpg')">
    <h1 class='titleNoAutorizado'>To view this page you need to register or login</h1>
    <a href="/signin"><button class="button-form">Sign In</button></a>
    <a href="/signup"><button class="button-form">Sign Up</button></a>
</div>
<%- include("partials/footer.ejs") %>
</div>