<%- include("partials/head.ejs")   %>
<div class='page404'>
    <img src='https://i.postimg.cc/FK5PfNSQ/Adobe-Stock-368365813.jpg' alt='page 404' />
    <button class='button-form'><a href='/'>Back to Home</a></button>
</div>
